/* Global styles */

/* Define custom font - Cascadia */
@font-face {
    font-family: "Cascadia Code Regular";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/Cascadia.woff") format('woff'), url("../fonts/Cascadia.woff");
    }

    /* Define background color */
#pageBody {
    background: #2C2C2D;
}
    

    /* Navigation */
.navbar-brand {
    font-family: "Helvetica Neue";
    font-weight: 900;
    font-size: 30px;
    line-height: 0.8;
    color: #FB3640;
}

.navbar-toggler {
    border: solid 1px #FB3640;
}

.nav-link {
    font-family: "Cascadia Code Regular", 'Courier New', Courier, monospace;
    font-size: 16px;
    color: #247BA0;
}

.navNumber {
    color: #FB3640
}

    /* Hero section */
.landingPage {
    height: 150vh;
    align-items: center;
    background-color: #2C2C2D;
}

.hidden-spacer {
    height: 56px;
  }

.preCopy {
    color: #FB3640;
    font-family: "Cascadia Code Regular", Courier, monospace;
    font-size: 16px;
    margin-left: 40px;
    margin-top: 70px;
}

.fw-bold {
    font-family: "Helvetica Neue";
    color: #49ABD4;
    margin-left: 40px;
    font-size: 55px;
    line-height: 1;
}

.py-5 h2 {
    font-family: "Helvetica Neue";
    font-weight: 900;
    color: #247BA0;
    margin-left: 40px;
    margin-top: 10px;
    font-size: 55px;
    line-height: 1;
}

.introCopy {
    font-family: "Helvetica Neue";
    color: #247BA0;
    margin-left: 40px;
    margin-top: 50px;
    font-size: 12px;
    line-height: 1.3;
}


.landingPage button {
    font-family: "Cascadia Code Regular";
    margin-left: 40px;
    margin-top: 20px;
    padding: 30px;
}

/* About me */
.copyHeading {
    font-family: "Helvetica Neue";
    font-size: 30px;
    color: #247BA0;
    margin-left: 50px;
    margin-bottom: 10%;
    margin-top: 8%;
}

.headingNumber {
    font-family: "Cascadia Code Regular";
    color: #FB3640;
    font-size: 22px;
    align-items: center;
}

.copyBody {
    font-family: "Helvetica Neue";
    color: #247BA0;
    margin-left: 50px;
    font-size: 18px;
    line-height: 1.5;
    
}

.sectionCopy ul {
    font-family: "Helvetica Neue";
    color: #247BA0;
    margin-left: 50px;
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 20%;
    
}

/* Works section */
.mainCard {
    background-color: #242425;
    z-index: 1;
    width: 23rem;
}

.workscopyHeading {
    font-family: "Helvetica Neue";
    font-size: 30px;
    color: #247BA0;
}

.mainWorks {
    color: #247BA0;
    font-family: "Helvetica Neue";
    font-size: 16px;
    z-index: 1;
}

.cardImgs {
    margin-bottom: 100px;
}

.shotImg1 {
    margin-left: 60px;
}

.shotImg2 {
    margin-right: 60px;
}

/* Other projects */
.otherWorks {
    background-color: #242425;
    height: 40vh;
    width: 16rem;
    margin: 10px;
}

.extraWorks {
    display: flex;
    justify-content: center;
    align-items: center;
}

.othercardTitle {
    color: #247BA0;
    font-family: "Helvetica Neue";
    font-size: 22px;
}

.cardLink {
    text-decoration: none;
    color: #247BA0;
}

.extraProjects {
    color: #247BA0;
    font-family: "Helvetica Neue";
    font-size: 16px;
}


/* Contact section */
.contactBody {
    margin-bottom: 50px;
}

.form-control {
    background-color: #2C2C2D;
    border-color: #FB3640;
    font-family: "Cascadia Code Regular";
}

.contactForm {
    justify-content: center;
    margin-top: 5px;
}

input {
    color: #FB3640;
}

.contactButton {
    font-family: "Cascadia Code Regular";
}

/* Footer */
footer {
    padding: 200px 0px 20px 0px;
}

footer a {
    text-decoration: none;
    color: #49ABD4;
}

.footerCopy {
    font-family: "Cascadia Code Regular";
    color: #49ABD4;
    font-size: 11px;
}